
[Unit]
Description=Prometheus 2.0 Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=prometheus
Restart=on-failure
ExecStart="{{ prometheus2_directory }}/bin/prometheus --config.file={{ prometheus2_directory }}/prometheus.yml"

[Install]
WantedBy=multi-user.target