CONFIG={{ prometheus2_directory }}/prometheus.yml
{% if prometheus2_alerturl is defined and prometheus2_alerturl != None %}
ALERTMANAGER_OPTS="-alertmanager.url={{ prometheus2_alerturl }}"
{% else %}
ALERTMANAGER_OPTS=
{% endif %}
DAEMON_ARGS="$ALERTMANAGER_OPTS"
DAEMON_ARGS="$DAEMON_ARGS -config.file=$CONFIG "
DAEMON_ARGS="$DAEMON_ARGS -web.console.templates={{ prometheus2_directory }}/consoles -web.console.libraries={{ prometheus2_directory }}/console_libraries"
{% if prometheus2_serveropts is defined and prometheus2_serveropts != None %}
DAEMON_ARGS="$DAEMON_ARGS {{ prometheus2_serveropts }}"
{% endif %}
